

.App {
  flex-direction: column;
  display: flex;
  text-align: center;
  background-image: url(https://cdna.artstation.com/p/assets/images/images/005/598/076/large/andrew-mabey-008-beauty-3-2-00000.jpg?1492330696);
  background-size: contain;
  padding: 20px;
}
.title-text{
  display: inline-flex;
  color: red;
  font-weight: 800;
  font-size: 50px;
}
.forge-button{
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(219, 76, 33);
  font-weight: 600;
  font-family: Aladin;

}

.epic-weapons{
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  font-style: cursive;
  height: 200px;
  width: auto;
  background-color: rgba(236, 170, 84, 0.493) ;
  padding: 20px;
  font-size: 15px;
   
}

.weapon-details {
  text-align: left;
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  font-family: Aladin;

}

.label {
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
}

.swords{
  width: 200px;
}
